{% extends 'layout.html'%}

{% block content %}
    <h1>Veiculos</h1>
    <hr>
<div class="container-fluid">
 <div class="row mt-5">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Reserva</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">---</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <th scope="col">
                        <button class="btn btn-padrao-reservas" data-toggle="modal" data-target="#exampleModal">Visualizar</button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sistema de Reservas</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p> Sistema de Reserva de salas, veículos e equipamentos foi desenvolvido para que pequenas empresas possam fazer o
                                    gerenciamento destes ativos.
                                    O mesmo é disponibilizado de forma opensource e não tem licença de comercialização deste produto. Você pode contribuir
                                    com a melhora continua e com novos recursos, pois nosso repositório é público e de código aberto.

                                </p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    </th>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}