{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {{ form | crispy }}

                    <button type="submit" class="btn-padrao-reservas">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}